# PostgreSQL Database URL
# Формат: postgresql://username:password@host:port/database_name
DATABASE_URL=postgresql://username:password@localhost:5432/nitronx_db

# JWT Secret для аутентификации
JWT_SECRET=piskabobra228

# Порт сервера
PORT=3000

# Окружение (production/development)
NODE_ENV=development
